body {
  background: #eee;
  min-width: 320px;
}

.container {
  background: white;

  @media (min-width: $container-width) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: $box-shadow;
    margin: 8px auto 0 auto;
    max-width: $container-width;
  }

  header, section, footer {
    @include container-content;
  }
}
