.inset-section {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.24), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.24);
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
}

.image-gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  img {
    display: block;
    margin: 16px;
    width: 240px;
  }
}
